* {
    padding: 0px;
    margin: 0px;
}

body {

}

.imgForca {
    background-color: red;
    width: 250px;
    height: 250px;
}

#idLetra {
    width: 30px;;
    font-size: x-large;
    margin-top: 30px;
    text-transform: uppercase;
    text-align: center;
}